*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    background-color: rgb(186, 93, 249, 0.4);
} */
.container{
    background-color: rgb(126, 189, 252, 0.3);
    text-align: center;
    height: 480px;
    width: 700px;
    /* border: 2px solid black; */
    margin: 30px;
    border-radius: 20px;
    justify-self: center;
    padding: 20px;
}
@media (max-width: 900px){
    .container{
        width: 500px;
    }
}
.container h1{
    font-size: 2rem;
}
.container p{
    font-size: 1.4rem;
}
@media (max-width: 900px){
    .container h1{
        font-size: 1.5rem;
    }
    .container p{
        font-size: 1.2rem;
    }
}
#select-container{
    background-color: #e5e7eb;
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
}
.input{
    background-color: white;
    text-align: center;
    padding: 5px;
    font-size: 1.5rem;
    margin-top: 20px;
    display: block;
    justify-self: center;
    
}
.btn{
    background-color: #5d99f9;
     padding: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 20px;
    width: 30%;
}
.answer-container{
    width: 300px;
    margin-top: 20px;
    text-align: center;
    justify-self: center;
    font-size: 1.5rem;

}